


<img src="../assets/pumpkin-butt.png" alt="pumpkin butt" />
<h3>by Sunkin</h3>

<h4>Pumpkin Posts</h4>
<table>
  <tbody>
    <tr>
      <% @entries.all.each do |e| %>
        <td> Pump-It: <%= link_to "#{e.title}", entry_path(e) %> </td>
    </tr>
    <%end%>
  </tbody>
</table>
<p>
  <%= link_to "New punkin post", new_entry_path %>
</p>
